---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$font-family-base : 'Open Sans', Helvetica, Arial, sans-serif;
$font-size-unit   : 16px;
$font-size-base   : 1rem;
$font-weight-base : 400;
$font-size-small  : $font-size-base * 0.875;
$line-height-base : 1.5;

$spacing-mini  : 10px;
$spacing-small : 15px;
$spacing-base  : 30px;
$spacing-large : 40px;

$color-white : #fff;
$color-black : #000;

// Retro Color Palette
// http://www.color-hex.com/color-palette/165
$brand-color            : #666547;
$brand-secondary-color  : #fb2e01;
$brand-tertiary-color   : #6fcb9f;
$brand-quaternary-color : #ffe28a;

$text-color       : mix($color-white, $color-black, 18%);
$background-color : mix($color-black, $color-white, 5%);
$border-color     : mix($color-black, $color-white, 10%);
$link-color       : darken($brand-secondary-color, 10%);

$wrapper-width: 800px;

@import "style";
